body {
    background-color: #000000;
}
#DateTime{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}
#ClockDisplay{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 90px;
}
#DateDisplay{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 30px;
}
#Implemented{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 15px;
}
#titel{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 120px;
	margin: 0 0;
}
